@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&family=Roboto:wght@100;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{  
    font-size: 16px;
    line-height: 1.5;
    background-color: #fafafa;
    background-image: url(images/background.png);
    background-size: cover;
    color: #22423d;
    font-family: 'Roboto', sans-serif;
}

body .container{
    display: flex;
}

body .container .left-container{
    margin: 30px;
    background-color: rgba(250, 250, 250, 0.75);;
    width: 20%;
    min-width: 300px;
    height: fit-content;
    padding: 30px;
    border-radius: 2px;
    box-shadow: 3px 8px 18px -1px rgba(0,0,0,0.75);
}

body .container .left-container img{
    width: 100px;
    display: block;
    margin: auto;
}

body .container .left-container h1{
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 35px;
    color: #ead3ca;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
    letter-spacing: 2px;
}

body .container .left-container .form-container form{
    display: flex;
    flex-direction: column;
}

body .container .left-container .form-container form .form-label{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px;
}

body .container .left-container .form-container form .form-label:last-of-type{
    margin-top: 15px;
}

body .container .left-container .form-container form input,
body .container .left-container .form-container form select {
    padding: 5px;
    border: 1px solid #ead3ca;
    border-radius: 5px;
    box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.75);
    font-size: 14px;
    outline: none;
}

body .container .left-container .form-container form input:focus{
    outline: 2px solid #ead3ca;
}

body .container .left-container .form-container form select{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

body .container .left-container .form-container form .add-btn{
    font-size: 14px;
    margin-top: 25px;
    background-color: #ead3ca;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Patrick Hand SC', cursive;
    cursor: pointer;
    transition: all .5s;
    box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.75);
}

body .container .left-container .form-container form .add-btn:hover{
    background-color: #ddad9a;
}

body .container .main-container{
    width: 80%;
}
body .container .main-container .board-wrapper{
    margin: 30px 30px 30px 0;
}

body .container .main-container .board-wrapper .board-list{
    background-color: rgba(250, 250, 250, 0.75);
    border-radius: 0 0 5px 5px;
    box-shadow: 3px 8px 18px -1px rgba(0,0,0,0.75);
    padding: 15px 30px;
}

body .container .main-container .board-wrapper .board-title{
    font-family: 'Patrick Hand SC', cursive;
    font-size: 25px;
    color: #fafafa;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
    letter-spacing: 2px;
    padding: 3px 10px;
    width: fit-content;
    position: relative;
    border-radius: 5px 5px 0 0;
}
body .container .main-container .board-wrapper.todo .board-list{
    border-top: 5px solid #ddad9a;
}
body .container .main-container .board-wrapper.todo .board-title{
    background-color: #ddad9a;
}

body .container .main-container .board-wrapper.doing .board-list{
    border-top: 5px solid #ffdcc9;
}
body .container .main-container .board-wrapper.doing .board-title{
    background-color: #ffdcc9;
}

body .container .main-container .board-wrapper.complete .board-list{
    border-top: 5px solid #caebda;
}

body .container .main-container .board-wrapper.complete .board-title{
    background-color: #caebda;
}

body .container .main-container .task-container .board-wrapper ul li{
     display: grid;
     grid-template-columns: 85% 15%;
     align-items: center;
     background-color: #fafafa;
     padding: 10px;
     margin: 10px 0;
     box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.5);
     border-radius: 2px;
     width: 100%;
}

body .container .main-container .task-container .board-wrapper ul li.high{
    border-left: 5px solid #cb3a35;
}

body .container .main-container .task-container .board-wrapper ul li:not(.normal):before{
    content: '\f024';
    font-family: 'Font Awesome 5 Free';
    font-size: 12px;
    font-weight: 600;
    position: absolute;
}
body .container .main-container .task-container .board-wrapper ul li.high:before{
    color: #cb3a35;
}

body .container .main-container .task-container .board-wrapper ul li.medium:before{
    color: #f6bc66;
}

body .container .main-container .task-container .board-wrapper ul li.medium{
    border-left: 5px solid #f6bc66;
}

body .container .main-container .task-container .board-wrapper ul li.normal{
    border-left: 5px solid #b5d6d6;
}

body .container .main-container .task-container .board-wrapper ul li p{
    padding-left: 20px;
}

body .container .main-container .task-container .board-wrapper ul li .actions-wrapper{
    justify-self: end;
    position: relative;
}

body .container .main-container .task-container .board-wrapper ul li .actions-wrapper label{
    font-size: 12px;
    cursor: pointer;
    margin-right: 5px;
}

body .container .main-container .task-container .board-wrapper ul li .actions-wrapper select{
    position: absolute;
    bottom: -30px;
    left: 0;
    display: none;
    padding: 5px;
    border: 1px solid #ead3ca;
    border-radius: 5px;
    box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.75);
    font-size: 14px;
    outline: none;
    text-transform: capitalize;
}
body .container .main-container .task-container .board-wrapper ul li .actions-wrapper select.active{
    display: block;
}
body .container .main-container .task-container .board-wrapper ul li .actions-wrapper .delete-btn{
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0 5px;
}
body .container .main-container .task-container .board-wrapper ul li .actions-wrapper .delete-btn:before{
    font-size: 15px;
    font-family: 'Font Awesome 5 Free';
    content: '\f2ed';
    font-weight: 100;
}


